.menu-left
    position: relative
    flex: 0 0 30%
    width: 16rem
    min-height: 100vh
    padding-top: 1rem
    padding-bottom: 2.75rem
    color: #fff
    background-color: #2e3d54

    &__item
        position: relative
        padding: .75rem .5rem .75rem 1.25rem
        font-size: 1rem
        line-height: 1.5rem
        border-bottom: 1px solid #434f65

    &__add-button
        position: absolute
        top: .75rem
        right: .75rem
        font-family: 'Source Code Pro', monospace
        font-size: 1.75rem
        color: #9ca3b5
        cursor: pointer

    .icon
        top: .625rem
        left: .625rem
        position: absolute
        width: 0
        height: 0
        cursor: pointer
        border: .3125rem solid transparent
        border-left-color: #59657b
        
        &.active
            top: .75rem
            border-top-color: #59657b
            border-left-color: transparent

    &__bottom-bar
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        padding: .625rem .5rem
        font-size: 1rem
        line-height: 1
        text-align: center
        border-top: 1px solid #434f65

        &-icon
            display: inline-block
            width: 1.25rem
            height: 1.25rem
            cursor: pointer
            background: url('./lock-icon.svg') no-repeat 0 0

.projects-list
    &__item
        position: relative
        margin-left: 20px
        font-size: .875rem
        line-height: 1.5
        color: #9ca3b5

        & .projects-list__item:last-child
            margin-bottom: .5rem

        &-label
            position: relative
            padding: .25rem .25rem .25rem 1.875rem
            margin-right: .5rem
            border-radius: 2px

            &.showed
                color: #fff
                background-color: #59657b

            &_project 
                padding-top: .4375rem
                padding-bottom: .4375rem
                font-size: 1rem
                border-bottom: 1px solid #434f65

                .icon
                    top: .875rem

                    &.active
                        top: 1.125rem
        &_project

            & .add-form
                margin-left: 1.875rem
                margin-right: .5rem

    &__menu-icon
        display: inline-block
        width: 18px
        height: 18px
        margin-right: .125rem
        font-size: 18px
        line-height: 1
        vertical-align: bottom
        color: transparent
        background: url('./project-menu-icon.svg') no-repeat 0 0
        cursor: pointer
        

        &_close
            color: #9ca3b5
            background: none
            transform: rotate(45deg)