.project-menu
    top: 100%
    position: absolute
    z-index: 1
    padding: .8rem 0
    font-size: .8125rem
    line-height: 1.2
    color: #2e3d54
    background-color: #fff // #eff0f2
    border-radius: 4px
    box-shadow: 0 0 3px rgba(255,255,255,.5)

    &__close
        position: absolute
        top: 5px
        right: 5px
        line-height: 1rem
        font-size: 1.5rem
        // color: #9ca3b5
        transform: rotate(45deg)

    &__item
        padding: .6rem 1rem
        margin: 0
        cursor: pointer

        &:hover
            background-color: #eff0f2 // #9ca3b5

        &_delete
            cursor: inherit
            opacity: .6   
