@import '../../styles/variables'

.checkbox
    position: absolute
    width: 14px
    height: 14px
    -webkit-appearance: none
    background-color: none
    border: 1px solid #cacece
    box-shadow: none
    border-radius: 1px

    &:checked
        color: #fff
        background-color: $icon-assigned-color
        border: 1px solid $icon-assigned-color

        &:after
            position: absolute
            content: '\2714'
            top: 0
            left: 1px
            font-size: 11px
            color: #fff