@import '../../styles/variables'
@import '../../styles/mixins'

.checkbox
  position: absolute
  width: 14px
  height: 14px
  background-color: $popup-menu-color
  border: 1px solid $checkbox-border-color
  box-shadow: none
  border-radius: 1px
  @include appearance(none)

  &:checked
    color: $text-color-light
    background-color: $user-icon-color
    border: 1px solid $user-icon-color

    &:after
      position: absolute
      content: '\2714'
      top: 0
      left: 1px
      font-size: 11px
      color: $text-color-light
