@import mixins
@import variables

html,
body,
#root, 
.app
    position: fixed
    top: 0
    left: 0
    bottom: 0
    width: 100%
    overflow: hidden

    @media only screen and (max-width: 768px)
        // For mobile phones
        width: 1200px

body
    font-family: 'Roboto', sans-serif

a,
a:hover,
a:visited
	color: inherit
	text-decoration: none

h1.title_not-found
    width: 100%
    margin: 2rem
    font-size: 1.5rem
    line-height: 1.5
    text-align: center
    color: $backgroun-color-dark

button
    background: none
    border: none
    cursor: pointer

.btn
    &_delete
        display: inline-block
        @include rotate(45deg)

.display_none
    display: none

.status
    &_testing
        color: $status-testing-color
    &_acceptance
        color: $status-acceptance-color
    &_process
        color: $status-process-color
    &_done
        color: $status-done-color

.tag
    display: inline-block
    margin-right: .5rem
    padding: .125rem .5rem
    font-size: .75rem
    line-height: 1
    color: #fff
    border-radius: 2px

    &_violet
        background-color: $tag-color-violet
    &_blue
        background-color: $tag-color-blue
    &_green
        background-color: $tag-color-green
    &_red
        background-color: $tag-color-red
    &_yellow
        background-color: $tag-color-yellow
