@import mixins

html,
body,
#root, 
.app
    position: fixed
    top: 0
    left: 0
    bottom: 0
    width: 100%
    overflow: hidden

body
    font-family: 'Roboto', sans-serif


a,
a:hover,
a:visited
	color: inherit
	text-decoration: none

.btn
    &_delete
        display: inline-block
        @include rotate(45deg)
