@import variables

// Transform Browser Prefixes
@mixin transform($transforms)
	-webkit-transform: $transforms
	-moz-transform: $transforms
	-ms-transform: $transforms
	transform: $transforms

// Rotate
@mixin rotate($deg)
	@include transform(rotate($deg))

// Scale
@mixin scale($scale)
	@include transform(scale($scale))

// Translate
@mixin translate($x, $y)
	@include transform(translate($x, $y))

// Transition Browser Prefixes
@mixin transition($transition)
	-webkit-transition: $transition
	-moz-transition: $transition
	-ms-transition: $transition
	transition: $transition

// Appearence Browser Prefixes
@mixin appearance($appearance)
	-webkit-appearance: $appearance
    -moz-appearance: $appearance
    appearance: $appearance

// Set fontSize from Px to Rem
@mixin fontSize($size)
  font-size: $size
  font-size: pxToRem($size)
