
$root-font-size: 16px

$menu-left-width: 256px
$task-editor-width: 600px
$min-app-width: 1200px
$top-bar-height: 54px

// Main colors

$backgroun-color-dark: #2e3d54
$backgroun-color-light: #eff0f2
$icon-assigned-color: #4a8de4
$group-label-color: #8e8f91
$menu-left-text-color: #9ca3b5 //$input-placeholder-color
$menu-left-border-color: #434f65
$menu-left-open-icon-color: #59657b
$task-editor-border-color: #efefef
$task-editor-title-color: #a0a0a0
$task-history-item-color: #7f7f7f
$task-item-date-color: #8e8f91
$user-icon-rest-color: #6d6d6d
$comment-background-color: #f8f8f8

// Status colors

$status-colors: ('testing': #f99412, 'acceptance': #a18f77, 'process': #77a180, 'done': #8f739f)

// Tags colors

$tag-colors: ('violet': #C39BD3,'blue': #85C1E9, 'green': #76D7C4, 'red': #F1948A, 'yellow': #F7DC6F)
