@import '../../styles/variables'
@import '../../styles/functions'

.app
  height: 100%
  width: 100%
  overflow: auto
  background: url('../../images/Index - Task history.jpg') no-repeat 0 0

  &-wrapper
    margin-top: pxToRem($top-bar-height)
    min-width: $min-app-width
    height: calc(100% - #{pxToRem($top-bar-height)})
    display: flex
    background-color: $backgroun-color-light
    opacity: 1
