
.app
    height: 100%
    width: 100%
    overflow: auto

    &-wrapper
        margin-top: 3.375rem
        min-width: 1200px
        height: calc(100% - 3.375rem)
        display: flex
        background-color: #eff0f2