
.app
    height: 100%
    width: 100%
    overflow: auto

    &-wrapper
        margin-top: 3.375rem
        min-width: 1200px
        height: calc(100% - 3.375rem)
        display: flex

    .main-page
        position: relative
        flex: 0 0 calc(100% - 16rem)
        width: calc(100% - 16rem)
        height: 100%
        background-color: #eff0f2
        overflow: hidden