.user-icon
        display: inline-block
        width: 1.875rem
        height: 1.875rem
        font-size: .75rem
        line-height: 1.9rem
        text-align: center
        color: #fff
        background-color: #4a8de4
        border-radius: 50%


.task-form
    position: absolute
    z-index: 10
    width: 30em
    height: calc(100% + 3.375rem)
    top: 0
    right: -30rem
    padding-bottom: 2.75rem
    background-color: #fff
    border-left: 1px solid #efefef
    transition: all 1s ease
    overflow: scroll

    input::placeholder
        font-size: .875rem
        color: #9ca3b5

    &__top-bar
        width: 100%
        height: 3.375rem
        padding: .5rem 1rem
        border-bottom: 1px solid #efefef

    &__close-icon
        display: inline-block
        font-size: 1.5rem
        line-height: 1.5
        transform: rotate(45deg)

    &_close
        right: -30em
        transition: all 1s ease

    &_show
        right: 0
        transition: all 1s ease

    &__created-info
        margin: .5rem 0

    &__created-by,
    &__created-date
        display: inline-block
        margin-right: 2rem
        font-size: .8rem
        line-height: 1.2
        color: #9ca3b5

    &__label
        font-size: .875rem
        line-height: 1.2rem
        margin-bottom: .8rem

    &__status-info
        display: flex
        padding: .8rem 0
        font-size: .9rem
        line-height: 1.9rem

    &__status
        flex: 0 1 auto

    &__assigned-list
        flex: 1 1 auto
        position: relative
        text-align: right

    &__assigned-item
        margin-right: 0
        margin-left: 5px

        &_add.user-icon
            font-size: .9rem
            color: #6d6d6d
            background-color: #efefef

.tag-form
    position: absolute
    z-index: 1
    top: 110%
    left: 0 
    width: 12rem
    min-height: 7.5rem
    padding: 10px
    text-align: center
    color: #9ca3b5
    background-color: #fff
    box-shadow: 0px 0px 4px 0px rgba(74,141,228,.7)

    &__close
        position: absolute
        top: 5px
        right: 5px
        line-height: 1rem
        font-size: 1.5rem
        color: #9ca3b5
        transform: rotate(45deg)

    &__select-wrapper
        position: relative
        margin-top: .5rem

    &__select-list
        position: absolute
        left: 0
        top: 2.5rem
        width: 100%
        max-height: 6rem
        overflow: scroll
        padding-bottom: 10px
        font-size: .875rem
        line-height: 1.2
        text-align: left
        background-color: #fff

        &-item
            padding: 5px 6px
     
    &__add
        display: inline-block
        padding: 3px 10px
        line-height: 1rem
        font-size: .8rem
        color: #9ca3b5
        background-color: #fff
        border: 1px solid #eff0f2

    &__input
        width: 100%
        margin: .5rem 0
        padding: 5px
        color: #9ca3b5
        border: 1px solid #eff0f2
    
    &__select_disable
        display: none

    & .list-color
        text-align: center
        margin: .5rem 0
        padding: .6rem
        border-top: 1px solid #eff0f2

        &__item
            display: inline-block
            width: 20px
            height: 20px
            margin-right: 5px
            border-radius: 50%

            &_active
                box-shadow: 0 0 5px rgba(0,0,0,.5)

            &:last-child
                margin-right: 0

            &_violet
                background-color: #C39BD3
            &_blue
                background-color: #85C1E9
            &_green
                background-color: #76D7C4
            &_red
                background-color: #F1948A
            &_yellow
                background-color: #F7DC6F 

.assigned-form
    position: absolute
    z-index: 2
    top: 110%
    right: 0 
    width: 12rem
    min-height: 7.5rem
    padding: 10px
    text-align: left
    color: #9ca3b5
    background-color: #fff
    box-shadow: 0 0 5px rgba(0,0,0,.5)

    &__close
        position: absolute
        top: 5px
        right: 5px
        line-height: 1rem
        font-size: 1.5rem
        // color: #9ca3b5
        transform: rotate(45deg)

    &__select-wrapper
        position: relative
        margin-top: .5rem

    &__select-list
        position: absolute
        left: 0
        top: 2.5rem
        width: 100%
        max-height: 5rem
        overflow: scroll
        padding-bottom: 10px
        font-size: .875rem
        line-height: 1.2
        text-align: left
        background-color: #fff

        &-item
            padding: 5px 6px
     
    &__add
        display: inline-block
        margin-top: .7rem
        padding: 3px 10px
        line-height: 1rem
        font-size: .8rem
        color: #9ca3b5
        background-color: #fff
        border: 1px solid #eff0f2

    &__input
        width: 100%
        margin: .5rem 0
        padding: 5px
        color: #9ca3b5
        border: 1px solid #eff0f2
