.date-time-picker
    display: inline-block
    vertical-align: middle

    input
        border: none
        width: 8rem
        cursor: pointer

    .rdtPicker td.rdtActive,
    .rdtPicker td.rdtActive:hover,
        background-color: #4a8de4

    .rdtPicker td.rdtToday:before
        border-bottom-color: #4a8de4

    .rdtPicker td.rdtActive.rdtToday:before
        border-bottom-color: #fff