@import '../../styles/variables'

.btn
  background: none
  border: none

.buttons-wrapper
  display: inline-block
  margin-left: 1.5rem

.add-btn
  font-size: .75rem
  line-height: 1
  color: $add-group-button-color
  padding: .1875rem 10px
  cursor: pointer

  &_task
    color: $add-task-button-color
