            
.task-form
    &__container
        padding: 0 1rem

    &__task-info
        border-bottom: 1px solid #efefef

    &__discussion
        padding: 1rem 0
        border-bottom: 1px solid #efefef

    &__tags-wrapper
        position: relative
        display: inline-block

    &__tag-item
        font-size: .8125rem
        padding: .25rem .5rem

        &-delete
            display: inline-block
            margin-left: .5rem
            transform: rotate(45deg) translateY(-2px)
        
        &_add
            width: 1.5rem
            height: 1.5rem
            color: gray
            text-align: center
            background-color: #efefef

    &__bottom-menu
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        padding: .375rem 0
        border-top: 1px solid #efefef

        .bottom-menu
            &__container
                display: flex

            &__item
                flex: 0 1 auto
                display: inline-block
                margin-left: 1rem
                margin-right: 1rem
                font-size: .875rem
                line-height: 1.875rem
                color: #7f7f7f
                vertical-align: middle
                cursor: pointer

                &_menu
                    flex-grow: 1
                    text-align: right

                &-icon
                    display: inline-block
                    width: 20px
                    height: 20px
                    margin-right: 10px
                    vertical-align: middle

                    &_history
                        background: url('./history-icon.svg') no-repeat 0 0

                    &_files
                        background: url('./clip-icon.svg') no-repeat 0 0

                    &_menu
                        margin: 0
                        background: url('./menu-icon-circle.svg') no-repeat 0 0
                        transform: rotate(90deg)

            

.status-form
    &__select
        padding: 0 5px
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        background-color: #fff
        border: none

    &__select-icon
        display: inline-block
        width: 10px
        height: 10px
        margin-right: 1rem
        border-radius: 50%

    &__select,
        &_testing
            color: #f99412
        &_acceptance
            color: #a18f77
        &_process
            color: #77a180
        &_done
            color: #8f739f

    &__select-icon
        &_testing
            background-color: #f99412
        &_acceptance
            background-color: #a18f77
        &_process
            background-color: #77a180
        &_done
            background-color: #8f739f

.list
    &__item
        padding: 1rem 0
        // extends label
        font-size: .875rem
        line-height: 1.2rem

        &-date
            display: inline-block
            margin-right: 2rem
            font-size: .8rem
            line-height: 1.2
            color: #9ca3b5



    