@import '../../styles/variables'
@import '../../styles/mixins'

.task-form
  &__body
    width: 100%
    height: calc(100% - 2.75rem)
    overflow-y: auto
    overflow-x: hidden

  &__container
    padding: 0 1.25rem

  &__task-info
    border-bottom: 1px solid $task-editor-border-color

  &__discussion
    padding: 1rem 0
    border-bottom: 1px solid $task-editor-border-color

    & .history
      margin: .5rem 0 .75rem 0

      &__item
        padding: .375rem
        font-size: .75rem
        color: $task-history-item-color

        &-user
          margin-left: 1rem
          margin-right: .25rem
          font-weight: bold

    & .DraftEditor-root
      padding-left: 0

  &__title
    margin-bottom: 1rem
    font-size: .875rem
    text-align: center
    color: $menu-left-text-color

  &__tags-wrapper
    position: relative
    display: inline-block

  & .tag
    font-size: .8125rem
    padding: .25rem .5rem

  &__bottom-menu
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      height: 2.75rem
      padding: .375rem 0
      background-color: $top-bar-background-color
      border-top: 1px solid $task-editor-border-color

      .bottom-menu
        &__container
          display: flex
          padding: 0 1rem

        &__item
          flex: 0 1 auto
          display: inline-block
          margin-left: 1rem
          margin-right: 1rem
          font-size: .875rem
          line-height: 1.875rem
          color: $task-history-item-color
          vertical-align: middle
          opacity: .6

          &.active
            opacity: 1

          &_history
            cursor: pointer

            &:hover
              opacity: 1

          &_menu
            flex-grow: 1
            margin: auto
            text-align: right

          &-icon
            display: inline-block
            width: 20px
            height: 20px
            margin-right: 10px
            vertical-align: middle
            @include setBackgroundImage(0 -141px)

            &_history
              background-position: 0 -141px

            &_files
              background-position: 0 -65px

            &_menu
              margin: 0
              background-position: 0 -181px
              @include rotate(90deg)

.list
  &__item
    padding: 1rem 0
    font-size: .875rem
    line-height: 1.2rem

    &-date
      display: inline-block
      margin-right: 2rem
      font-size: .8rem
      line-height: 1.2
      color: $menu-left-text-color
