@import '../../styles/variables'
@import '../../styles/functions'
@import '../../styles/mixins'

.top-bar
  position: fixed
  z-index: 2
  width: 100%
  height: pxToRem($top-bar-height)
  padding: .75rem 1.5rem
  font-size: 1.125rem
  line-height: 1.66
  background-color: $top-bar-background-color
  box-shadow: 0 1px 8px 0 rgba(32,33,36,.28)

  &__logo
    display: inline-block
    cursor: pointer
    @include userSelectNone()
