.item-list-wrapper
    padding-left: 2rem

.item-list
    padding: 15px
    background-color: #eff0f2
    border-left: 1px solid lightblue

    & li
        padding: 5px
        color: gray
        cursor: pointer

    &__task
        background-color: #fff
        border: 1px solid #eff0f2